*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    
}

:root{
    --primary-bg: #FAF9F6;
    --primary-color: #000;
    --theme-changer-bg: #a9a9a9;
}

.dark{
    --primary-bg: #000;
    --primary-color: #FAF9F6;
    --theme-changer-bg: #a9a9a9;
}

body,
html{
    font-family: "PP Neue MOntreal", sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-color);
    overflow-x: hidden;
    transition: background-color 0.6s ease, color 0.4s ease-in-out;
}

p{
    font-size: 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
}

h1{
    font-size: 15vw;
    text-align: center;
    width: 100%;
    text-align: center;
    position: relative;
    left: -0.05em;
    bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1;
    color: var(--primary-color);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* mix-blend-mode: difference; */
    z-index: 2;
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    width: 25%;
    font-weight: 600;
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.theme-changer{
    background-color: var(--theme-changer-bg);
    width: 1rem;
    border-radius: 1rem;
    transition: all .5s ease;
    cursor: pointer;
    transition: transform .5s ease-in-out;
    display: grid;
    place-items: center;
}
.theme-changer:hover{
    transform: width(1.5rem) height(1.5rem);
}

.slider{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: translate .4s ease;
}


.links{
    display: flex;
    gap: .5rem;
    font-size: 1rem;
}
.links .links-link {
    transition: opacity 0.5s ease;
    opacity: 1;
  }
  
  .links:hover .links-link {
    opacity: 0.5;
  }
  
  .links .links-link:hover {
    opacity: 1;
    cursor: pointer;
  }
  

section{
    width: 100vw;
    height: 100vh;
    padding: 1.5rem;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8rem;
}

.hero-copy{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.descr p{
    font-size: 2rem;
}
.underline{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: fit-content;
    overflow: hidden;
}
.underline p{
    padding-bottom: .3rem;
    font-size: 1rem;
}
.und{
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    transition: transform .5s ease-in-out;
}
.underline:hover .und{
    animation: move 1.5s ease 1;
}
@keyframes move {
    33%{
        transform: translateX(100%);
    }
    67%{
        height: 0;
        background-color: var(--primary-bg);
        transform: translateX(-100%);
    }
    100%{
        height: 1px;
        background-color: var(--primary-color);
        transform: translateX(0);
    }
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 10s ease;
}

.intro{
    height: 100%;
}

.video-container-desktop{
    position: relative;
    transform: translateY(0%) scale(0.25);
    display: flex;
    flex-direction: column;
    gap: 2em;
    will-change: transform;
}

.video-container-desktop .video-title p{
    position: relative;
    font-size: 78px;
    font-weight: 500;
}

.video-container-mobile{
    display: none;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.video-preview{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1.5rem;
    background-color: #b9b9b3;
    overflow: hidden;
}

.video-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    pointer-events: none;
}


/* MEDIA QUERIES */
@media  screen and (max-width: 900px) {
    nav,
    .section{
        padding: 1.5rem;
    }

nav a{
    font-size: 1rem;
}

    .hero{
        justify-content: flex-end;
        gap: 2em;
    }

    .hero h1{
        font-size: 19vw;
    }

    .video-container-desktop{
        display: none;
    }

    .video-container-mobile{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}